*{
    margin: 0px;
    padding: 0px;
}

.logo{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 30px;
}

body{
    font-family: coolvetica compressed hv;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.5); /* Capa de color negro semitransparente */
    background-image: url("/LASAÑAS CASERITAS/imagenes/Exquisitas.jpg");
    background-blend-mode: overlay; /* Mezcla la imagen con la capa negra */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Estilo de la caja del formulario */
.form-box {
    background-color: #d3d3d3;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 500px;
    position: relative;
    z-index: 2;
}

/* Estilo de la imagen del logo */
.logo {
    max-width: 100%; /* Asegura que el logo no exceda el contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    margin-bottom: 30px; /* Espacio debajo del logo */
    transform: translateX(-20px);
}

/* Estilo de los campos de entrada */
.form-control {
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
}

/* Estilo del botón */
.btn-custom {
    background-color: #fd7e14;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.btn-custom:hover {
    background-color: #e67e22;
}

.registrarse{
    padding: 25px;
    color: black;
}

.link{
    text-decoration: none;
}

.titulo{
    margin-bottom: 18px;
    font-weight: bold;
}

.form-registro{
    height: 620px;
}